@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

.vibur-regular {
  font-family: "Vibur", cursive;
  font-style: normal;
  font-weight: normal;
  letter-spacing:1px;
}


.darker-grotesque-main {
  font-family: "Darker Grotesque", sans-serif;
  font-size:16pt;
  font-optical-sizing:auto;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.5px;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    -webkit-font-smoothing: antialiased;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body{
  overflow: hidden;
}
/* global.css */

.wrapper {
  height: 100vh;
  background-color: #8472FF;
  background-image: radial-gradient(farthest-corner at 50% 50%, 
    rgba(216, 198, 255, 1), 30%, 
    rgba(189, 171, 255, 0.5) 50%, 
    rgba(132, 114, 255, 0.5) 60%);
  background-size: 100% 150%;
  animation: morph 10s ease-in-out infinite;
}





@keyframes morph {
  0% {
    background-position: 30% 40%;
  }
  25% {
    background-position: 70% 80%;
  }
  50% {
    background-position: 90% 100%;
  }
  75% {
    background-position: 70% 80%;
  }
  100% {
    background-position: 30% 40%;
  }
}

.popup {
  position:absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  transform-origin: center;
  width: 65vw;
  height: 90vh;
  background-color: #8a82e7ba;
  border-radius: 50px;
  padding: 20px 17px 0px 17px;
  box-shadow: 0 0 10px rgba(28, 14, 63, 0.2);
  overflow: hidden;
  animation: scaleUp 0.5s ease-in-out;
}

@keyframes scaleUp {
  0% { transform: scale(0) translate(-50%, 100%);  }
  100% { transform: scale(1) translate(-50%, -50%);  }
}


.popup-content {
  border-radius: 50px 50px 0 0;

}

.gradient-background {
  width: 100%; /* Set width as needed */
  height: 100%; /* Set height as needed */
  border-radius: 20px; /* Applies the rounded corners */

  /* Apply the radial gradient */
  background: radial-gradient(circle at center, 
    #D8C6FF, 
    #C5B3FF 39.81%, 
    #BDABFF 52.5%, 
    #8472FF 100%
  );
}


.picholder{
  background-image: radial-gradient(circle,#6B64FF, #c0affdee);

}