@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Snippet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Linden+Hill:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
@font-face {  font-family: "FX_LED";  src: url("https://cdn.jsdelivr.net/gh/microanswer/common_font/FX-LED.TTF");  }
@font-face {  font-family: "hack";  src: url("https://cdn.jsdelivr.net/gh/microanswer/common_font/hack/Hack-Bold.ttf");  }

@font-face {
  font-family: 'Vogue';
  src: url('/fonts/vogue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
  margin-top: 0 !important; /* Ensures no additional margin */
}



#_gcal_opt_in_banner {
  display: none !important; /* Hides the banner */
}

.highlight {
  color: #8282EB;
  font-weight:550;
}

.vibur-regular {
  font-family: "Vibur", cursive;
  font-style: normal;
  font-weight: normal;
  letter-spacing:1px;
}


.no-resize {
  width: 100vw; /* Fixed width */
  height: 100vh; /* Fixed height */
  overflow: hidden; /* Hide overflow */
}


.darker-grotesque-main {
  font-family: "Darker Grotesque", sans-serif;
  font-size:16pt;
  font-optical-sizing:auto;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.5px;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    -webkit-font-smoothing: antialiased;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body{
  overflow: hidden;
}
/* global.css */

.wrapper {
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
    overflow: hidden; /* Prevents black spaces */
  background-size: cover; /* Ensures background fills the area */

  background-color: #8472FF;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, 
    rgba(216, 198, 255, 1), 30%, 
    rgba(189, 171, 255, 0.5) 50%, 
    rgba(132, 114, 255, 0.5) 60%);
    position: center;
  background-size: 100% 150%;
  animation: morph 10s ease-in-out infinite;
  /* animation-delay: 3s; */
}


.tooltip{
  opacity: 0;
  background: #eeebfa;
  border-radius: 5px;
  border: 0.5px solid #9393e8;
  transition: all;
  padding: 1px;
  color: #8f8fe1;
  top: -4px;
  right: 7px;
  font-family: "Darker Grotesque";
  font-weight: 600;
}
.graph_bar{
  transition: height 1s ease-in-out;
}
.graph_bar:hover .tooltip{
  opacity: 1;
}


.tooltip-popup{
  opacity: 0;
  transition: all;
  transform: translateX(50px);
  transition:all 0.3s ease-in-out;
  
}

.ai-icon:hover .tooltip-popup{
  opacity: 1;
  transform: translateX(0px);
}


@keyframes morph {
  0% {
    background-position: 30% 40%;
  }
  25% {
    background-position: 70% 80%;
  }
  50% {
    background-position: 90% 100%;
  }
  75% {
    background-position: 70% 80%;
  }
  100% {
    background-position: 30% 40%;
  }
}

.popup {
  position:absolute;
  top: 50%; /* position of popup in the screen */
  left: 53%; /* position of popup in the screen */
  
  transform: translate(-50%, -50%);
  transform-origin: center;
  width: 65vw;
  height: 90vh;
  max-width: 930px;
  background-color: #8a82e7ba;
  border-radius: 50px;
  padding: 20px 17px 0px 17px;
  box-shadow: 0 0 10px rgba(28, 14, 63, 0.2);
  overflow: hidden;
  animation: scaleUp 0.5s ease-in-out;
  z-index: 10000;
}

@keyframes scaleUp {
  0% { transform: scale(0) translate(-50%, 100%);  }
  100% { transform: scale(1) translate(-50%, -50%);  }
}


  
.popup-content {
  border-radius: 50px 50px 0 0;
  z-index: 100;

}

.gradient-background {
  width: 100%; /* Set width as needed */
  height: 100%; /* Set height as needed */
  border-radius: 20px; /* Applies the rounded corners */

  /* Apply the radial gradient */
  background: radial-gradient(circle at center, 
    #D8C6FF, 
    #C5B3FF 39.81%, 
    #BDABFF 52.5%, 
    #8472FF 100%
  );
}


.picholder{
  background-image: radial-gradient(circle,#6B64FF, #c0affdee);

}

.loader {
  width: 150px;
  height: 150px;
  line-height: 150px;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  z-index: 50; /* Higher z-index to be above other content */
  text-transform: uppercase;
}

.loader:before,
.loader:after {
  opacity: 0;
  box-sizing: border-box;
  content: "\0020";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: 5px solid #fff;
  box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
}

.loader:after {
  z-index: 1;
  animation: gogoloader 2s infinite 1s;
}

.loader:before {
  z-index: 2;
  animation: gogoloader 2s infinite;
}

@keyframes gogoloader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}


/* Hide scrollbar track and buttons */
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button {
    background: transparent; /* Make it transparent */
}

/* Hide the scrollbar track for non-webkit browsers (e.g., Firefox) */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Mac-like dark thumb */
  border-radius: 10px; /* Rounded corners */
  width: 8px; /* Set a width similar to macOS */
}

/* For non-webkit browsers (e.g., Firefox) */
.scroll-container {
  scrollbar-color: #5e5ea365 transparent;
  scrollbar-width: thin; /* Set the scrollbar width to 'thin' */
}

.scroll-container-profile {
  scrollbar-color: #5e5ea344 transparent;
  scrollbar-width: thin; /* Set the scrollbar width to 'thin' */
}

.scroll-container-ai {
  scrollbar-color: #41416d49 transparent;
  scrollbar-width: thin; /* Set the scrollbar width to 'thin' */
}

/* For non-webkit browsers (e.g., Firefox) */
.scroll-container-notific {
  max-height: 150px; /* Adjust based on content */
  overflow: auto;
  z-index: 1000000000000000;
  scrollbar-color: #5e5ea300 transparent;
  scrollbar-width: thin;
}


.scroll-container2 {
  scrollbar-color: #5e5ea300 transparent; /* For Firefox */
  scrollbar-width: thin; /* For Firefox */
}


.scroll-container-faq {
  scrollbar-color: #a79af7 transparent;
  scrollbar-width: thin; /* Set the scrollbar width to 'thin' */
}


/* For WebKit browsers (Chrome, Safari, Edge) */
.scroll-container2::-webkit-scrollbar {
  width: 2px; /* Adjust this value to make the scrollbar thinner */
}

.scroll-container2::-webkit-scrollbar-thumb {
  background-color: #5e5ea345; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.scroll-container2::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}







textarea {
  resize: none; /* Disables resizing */
}

.shadow-save {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.shadow-save-hover {
  box-shadow: 0 4px 12px rgba(130, 116, 208, 0.5); /* Custom color with more blur */
}

.overlay_blur{
  backdrop-filter: blur(4px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

/* styles/globals.css or any global CSS file */
.text-sparkle {
  transition: all 0.3s ease-in-out;
}

.text-sparkle:hover {
  text-shadow: 
    0 0 10px rgba(141, 141, 242, 1),  /* Intense core glow */
    0 0 20px rgb(163, 163, 252), /* Expanding soft glow */
    0 0 30px rgba(255, 255, 255, 0.886), /* Larger, softer halo */
    0 0 40px rgba(215, 215, 255, 0.715), /* Even larger glow */
    0 0 50px rgba(215, 215, 255, 0.572); /* Extensive radial glow */
}

/* Bell icon container */
.notification-bell {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: ring 3s ease-in-out infinite;
  animation-play-state: paused; /* Start paused, controlled via inline style */
  transform-origin: top center; /* Pivot point */
}

/* Bell swinging and scaling animation keyframes */
@keyframes ring {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10%, 90% {
    transform: rotate(10deg) scale(1.1);
  }
  50% {
    transform: rotate(-10deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}



input:focus{
  outline: none;
}

select:focus{
  outline: none;
}

textarea:focus{
  outline: none;
}


/* Placeholder text color */
::placeholder {
  color: white;
  opacity: 1; /* Ensure it doesn't fade */
}

/* Autofill background fix */
input:-webkit-autofill,
textarea:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: rgba(255, 255, 255, 0) !important;
}

/* Ensure the width consistency for input and textarea */
.input-field {
  width: 500px; /* Match the size of email and description fields */
}

.roboto-mono-popup {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.snippet-regular {
  font-family: "Snippet", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.biorhyme-popup {
  font-family: "BioRhyme", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.pulsingToday {
  animation: pulse 3s ease-in-out infinite;
  border-radius: 35px;
  height: fit-content;

}

@keyframes pulse {
  0% {
   box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.60)
  }
  50% {
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.50)
  }
  100% {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.60)
  }
}

/*----------------------------------------------------------------*/


/* Define the cubic-bezier easing
function */
.arrow-container {
  top: 181px;
  left: 395px;
  transform: translateY(-50%); /* Center vertically */
  

  height: 59px; /* Adjust this for the smallest size */
}

.moving-arrow-wrapper, .moving-arrow-fixed-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.moving-arrow-wrapper svg, .moving-arrow-fixed-wrapper svg {
  width: 100%; /* Make sure the SVG scales with the container */
  height: auto;
}

/* Animation for the moving arrow */
.moving-arrow-wrapper {
  animation: moving-arrow-anim 1.25s cubic-bezier(.2, 1, .3, 1) infinite;
}

/* Animation for the fixed arrow */
.moving-arrow-fixed-wrapper {
  animation: moving-arrow-fixed-anim 1.25s cubic-bezier(.2, 1, .3, 1) infinite;
}

/* Keyframes for moving arrow */
@keyframes moving-arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}

/* Keyframes for fixed arrow */
@keyframes moving-arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/*----------------------------------------------------------------*/


/* Container for the animation */
.animation-container {
  position: relative;
  width: 155px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SVG Circle path */
.circle-svg {
  width: 150px;
  height: 150px;
  position: absolute;
}

.circle-path {
  fill: #8b85ff30;
  stroke: #8b80ed91;
  stroke-width: 4; /* Adjust stroke width here */
  stroke-dasharray: 440; /* Adjusted to fit the circle path length */
  stroke-dashoffset: 440; /* Starts hidden */
  animation: drawCircle 2s forwards ease-in-out;
  
  animation: drawCircle 2s forwards ease-in-out;
}

/* Check icon */
.check-icon {
  font-size: 50px;
  color: #a7a4ef;
  opacity: 0;
  position: absolute;
  animation: checkFadeIn 0.5s 2s forwards ease-in-out, checkFadeOut 0.5s 2.5s forwards ease-in-out;
}

/* Email icon flips and stays visible */
.email-icon {
  font-size: 50px;
  opacity: 0;
  position: absolute;
  transform: rotateY(90deg);
  margin-left: 4px;
  margin-top: 10px;
  animation: flipToEmail 2s 2.5s forwards ease-in-out;
}

/* SVG Circle draw animation */
@keyframes drawCircle {
  to {
    stroke-dashoffset: 0;
  }
}

/* Faster fade in and out for check icon */
@keyframes checkFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes checkFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* More flips for email icon */
/* Email icon flip animation (stays visible) */
@keyframes flipToEmail {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  50% {
    opacity: 0;
    transform: rotateY(180deg);
  }
  75% {
    opacity: 1;
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(710deg); /* Extra flip */
    opacity: 1; /* Ensures it stays visible */
  }
}

/*----------------------------------------------------------------*/


.waviy {
  font-size: 55px;
  display: flex;
  justify-content: center;
}

.waviy span {
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 600;
  display: inline-block;
  color: #fff;
  text-transform: none;
  animation: waviy 1s ease-out;
  animation-delay: calc(0.1s * var(--i));
  text-shadow: 5px 5px 8px rgba(107, 85, 251, 0.418); /* Add shadow here */
}

@keyframes waviy {
  0%, 40%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

/*----------------------------------------------------------------*/

.button-pop {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-pop:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0px 5px 8px rgba(107, 85, 251, 0.38);
}

.button-pop:active {
  transform: scale(0.95); /* Scale down on click */
}

/*----------------------------------------------------------------*/

.button-pop2 {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-pop2:hover {
  transform: translateY(-0.4px) scale(1.05);
  box-shadow: 0px 2px 8px rgba(107, 85, 251, 0.38);
}

.button-pop2:active {
  transform: scale(0.95); /* Scale down on click */
}

/*----------------------------------------------------------------*/

.current-year{
  font-family: "Varzimatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 30px;
}
.year-option {
  color: white; /* Ensures the option text color is white */
  text-shadow: 2px 2.5px 3px rgb(141, 130, 241); /* Add shadow to the text */
}
.logout-countdown {
  color: rgb(197, 196, 255);  /* Ensures the option text color is white */
  text-shadow: 1px 1.5px 4px rgba(51, 45, 101, 0.685); /* Add shadow to the text */
}

/*----------------------------------------------------------------*/

.journal-analysis-title{
  text-shadow: 2px 2.5px 3px #6c64ffc1; /* Add shadow to the text */;
}

.journal-analysis-content{
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 600;
}

.journal-analysis-content::marker{
  font-size: 11px;
  transform: translateY(5px);
}

/*----------------------------------------------------------------*/

/* Container for centering */
.checkmark-container {
  background-color: none;
  position: relative;
  width: 25px;
  height: 25px;
}

/* Circle style and animation */
.circle {
  width: 23.5px;
  height: 23.5px;
  border-radius: 50%;
  background-color: #A3A3FF;
  opacity: 0;
  animation: circleAppear 0.5s forwards ease-in-out;
}

/* Checkmark style and animation */
.checkmark {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 17.16px;
  height: 4.66px;
  border-bottom: 1.5px solid white;
  border-left: 1.5px solid white;
  transform: rotate(-75deg);
  opacity: 0;
  animation: checkmarkAppear 0.3s forwards ease-in-out;
  animation-delay: 0.5s;
}

/* Circle animation keyframes */
@keyframes circleAppear {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Checkmark animation keyframes */
@keyframes checkmarkAppear {
  from {
    transform: scale(0) rotate(-65deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.notification-item {
  display: flex;
  align-items: center;
  justify-content: center;  /* Ensure the content is centered horizontally */
  margin-bottom: 15px;  /* Optional: Adds space between items */
}

.icon-container {
  position: relative;  /* Set position to relative to position the text inside */
  width: 140px;  /* Ensure the container has the right size */
  height: 130px;  /* Ensure the container has the right size */
  display: flex;
  justify-content: center;  /* Centers the icon horizontally */
  align-items: center;  /* Centers the icon vertically */
}

.icon-container p {
  position: absolute;  /* Position the text inside the icon container */
  bottom: 15px;  /* Position the text inside, 10px from the bottom of the container */
  left: 62%;  /* Horizontally center the text */
  transform: translateX(-70%);  /* Correct for centering */
  margin: 0;  /* Remove any default margin */
  font-family: "Roboto Mono", monospace;
  font-size: 14px;  /* Adjust font size as needed */
  color: #ffffff;  /* Set the text color */
  text-align: center;  /* Ensure the text is centered inside the container */
}


.notification-container {
  transition: width 0.5s ease; /* Optional: adds a smooth transition */
}
/* Ensure the icon fits inside the container */
.icon-container svg {
  width: 90%;  /* Makes the icon fit inside the container */
  height: 90%;  /* Makes the icon fit inside the container */
}

.two-columns{
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 40px;
}

.single-column{
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blinking-circle {
  animation: blink 2s infinite; /* Adjust the duration (1s) as needed */
}

/* Icon container path styling */
.icon-container svg path {

  transition: fill 0.3s ease; /* Only transition the fill color */
}

/* Hover effect */
.icon-container:hover svg path {
fill: #7474CB;
transition: opacity 0.1s ease-in-out;
}



.icon-container:hover .icon-actions {
  opacity: 1;
  pointer-events: auto;
}

/* Default state */
.icon-actions {
  position: absolute;
  top: 49px;
  left: 15px;
  width: 112px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7474cb; /*  overlay */

  pointer-events: none;
  animation: none; /* No animation by default */
}

/* On hover: fade in */
.icon-container:hover .icon-actions {
  animation: fadeIn 0.3s ease forwards; /* Slow fade-in */
  pointer-events: auto;
}

/* On hover-out: fade out */
.icon-container:not(:hover) .icon-actions {
  animation: fadeOut 0.1s ease forwards; /* Fast fade-out */
  pointer-events: none;
}

/* Keyframe for fade-in (slower) */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Keyframe for fade-out (faster) */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Action icons inside hover */
.action-icon {
  background: none;
  border: none;
  color: white ;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-icon:hover {
  transform: scale(1); /* Slight zoom on hover */
  
}

.trash-notific {
  size: 1;
}

.no-notific {
  outline: 1.5px dashed #c9c8eee8; /* Adjust dash thickness */
  height: 300px;

}



/* DIGITAL CLOCK --------------------------------------------------- */
@font-face {  font-family: "FX_LED";  src: url("https://cdn.jsdelivr.net/gh/microanswer/common_font/FX-LED.TTF");  }
@font-face {  font-family: "hack";  src: url("https://cdn.jsdelivr.net/gh/microanswer/common_font/hack/Hack-Bold.ttf");  }

.digital-clock {

  display: flex;
  flex-direction: column; /* Stack time above week */
  align-items: center; /* Center everything */
  user-select: none;
  padding: 15px;
  text-shadow: 
  0 0 15px #8585f0,
  0 0 25px #212188,
  0 0 15px #cfcff500,
  0 0 20px #6464d300,
  0 0 25px #6464d304;
  animation: neon 1.5s ease-in-out infinite;

  white-space: nowrap;
}

.digital-clock .time {
  font-family: "FX_LED";
}

.digital-clock .time .hour,
.digital-clock .time .min,
.digital-clock .time .dot {
  display: inline-block;
  font-size: 2rem;
  color: #e9e9fc;
}

.digital-clock .time .invsi {
  visibility: hidden;
}

/* Make weekdays appear in a row */
.digital-clock .week {
  display: flex;
  flex-direction: row; /* Row layout */
  justify-content: center;
  gap: 5px; /* Add spacing between days */
  margin-top: 2px; /* Space from time */
  font-size: 0.6rem;
  font-family: "hack";
  font-weight: lighter;
  color: #c8c8ddc7;
}

.digital-clock .week .active {
  color: #e9e9fc;
  font-weight: bold;
}

.fadedCountWelcome {
  transition: opacity 0.5s ease-in-out;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}


.filter-btn {
  padding: 3px 21px;
  background-color: rgba(103, 103, 203, 0.4);
  border-radius: 8px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-btn.active {
  background-color: #6D6BC8; /* Highlight active button */
  color: white;
}

.filter-btn:hover {
  background-color: rgba(103, 103, 203, 0.6);
}


/* .layout wraps the entire page */
.layout {
  position: relative;
  min-height: 100vh; /* Full viewport height */
}

/* .navbar stays fixed at the top of the screen */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px; /* Adjust navbar height */
  background-color: rgb(0, 0, 0); /* Background for the navbar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
  z-index: 1000; /* Keep navbar on top of content */
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

/* .content starts below the fixed navbar */
.content {
   /* Adjust this to match the height of the navbar */
  flex: 1; /* Ensure content takes the rest of the available space */
}
